# Custom
secrets/*
!secrets/*_dummy.json
data_temp
STDOUTlog.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Jupyter Notebook
.ipynb_checkpoints
.ipynb
*.ipynb
